@import 'tailwindcss';

@theme {
  --color-neon-green: oklch(77.04% 0.1759 132.7);
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);
}

@layer base {
  body {
    @apply bg-neutral-800 break-words antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    word-wrap: break-word;
  }

  h1 {
    @apply text-3xl font-bold tracking-tight text-white md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold tracking-tight;
  }

  p {
    @apply text-gray-300;
  }

  a {
    @apply text-neon-green;
  }

  img[alt='cat-in-a-server-room'],
  img[alt='programmer-with-chrome'] {
    @apply mx-auto h-[350px] md:h-[600px];
  }

  img[alt='first-option-to-copy-response-gif'],
  img[alt='second-option-to-copy-response-gif'] {
    @apply mx-auto;
  }

  [astro-icon] {
    @apply w-8;
  }

  pre {
    @apply rounded p-4 text-sm;
  }

  ::selection {
    color: #17191e;
    background: #87cb49;
  }
}
