---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("posts")
  .then((posts) =>
    posts.sort(
      (a, b) =>
        new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    )
  )
  .then((posts) => posts.filter((post) => !post.data.draft));
---

<Layout title="Paul Valladares | Blog" description="Blog of Paul Valladares">
  <main class="flex flex-col items-center">
    <div class="text-white w-[350px] md:w-[45%]">
      <h1 class="font-bold text-3xl md:text-5xl tracking-tight">Blog</h1>
      <p class="mt-4 text-left">
        I'm gonna use this space to write about my journey as a developer, tech
        projects and my thoughts on the tech industry. I hope you enjoy it!
      </p>
    </div>
    <div class="my-10 w-[350px] md:w-[45%]">
      {
        blogPosts.map((post) => (
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            date={post.data.pubDate}
            link={`/posts/${post.slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
