---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <div class="flex flex-col items-center">
        <h1
          class="font-bold text-3xl md:text-5xl tracking-tight mb-1 text-black"
        >
          Paul Valladares
        </h1>
        <h2>
          Frontend Dev at <a href="www.hackapulco.com" target="_blank"
            >Hackapulco</a
          >
        </h2>
      </div>
    </section>
  </main>
</Layout>
