---
import TechBadge from '@components/TechBadge.astro'
import ProjectCard from '@components/RepoCard.astro'
import Layout from '@layouts/Layout.astro'
import { technologies } from '@utils/data'
import { Image } from 'astro:assets'

type TechBadgeProps = {
  name: string
  imgSrc: string
  altSrc: string
  link: string
  ariaLink: string
}

type PinnedRepos = {
  owner: string
  repo: string
  link: string
  description: string
  image: string
  language: string
  languageColor: string
  stars: number
  forks: number
}

const pinnedRepos = await fetch(
  'https://gh-pinned-repos-tsj7ta5xfhep.deno.dev/?username=dreyfus92',
)
const repos = await pinnedRepos.json()
---

<script>
  import { ScrambleText } from '@utils/scrambleText'

  const scramble = new ScrambleText({
    text: 'Paul Valladares',
    speed: 0.45,
    scrambleFactor: 0.2,
  })
  const targetElement = document.getElementById('myself')
  if (targetElement) {
    scramble.setTargetElement(targetElement)
    scramble.play()
  }

  console.log(targetElement)
</script>
<Layout title='Paul Valladares | Home'>
  <main>
    <div class='flex flex-col-reverse items-center justify-center md:flex-row'>
      <div class='w-9/12 text-white md:w-[450px]'>
        <div
          id='myself'
          class='mb-1 text-3xl font-bold tracking-tight md:text-5xl'
        >
        </div>
        <h2 class='mt-2 text-lg'>Code tinkerer & UI craft enthusiast</h2>
        <h2 class='text-lg'>
          formerly at
          <a
            href='https://x.com/hackapulco'
            target='_blank'
            class='hover:bg-neon-green rounded-lg p-1 hover:text-gray-800'
            >@Hackapulco</a
          >
        </h2>
        <p class='mt-4 text-left'>
          Hey there! I build web stuff with TypeScript, React, and Node.js. Started out as a civil engineer (UNAM grad), which gave me a knack for solving tricky problems. These days, I spend my time crafting <strong>responsive UIs</strong>, building <strong>full-stack apps</strong>, and tinkering with <strong>cloud setups</strong>. Always down to chat about code or collaborate on interesting projects.
        </p>
      </div>
      <Image
        class='mb-10 ml-0 h-[120px] w-[120px] rounded-full md:mb-0 md:ml-10 md:h-[240px] md:w-[240px]'
        src='https://avatars.githubusercontent.com/u/85648028?v=4'
        alt='Paul Valladares'
        inferSize={true}
        loading='eager'
      />
    </div>
    <div class='my-10 flex items-center justify-center md:my-16'>
      <div class='w-9/12 text-white md:w-[740px]'>
        <h2 class='text-3xl font-bold'>Tools I use</h2>
        <p class='mt-4 text-left'>
          I've picked up a bunch of tech along the way. From front-end frameworks to back-end systems and some DevOps stuff. Here's what I've been playing with lately:
        </p>
        <div
          class='mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8'
        >
          {
            technologies.map((tech: TechBadgeProps) => (
              <a
                href={tech.link}
                class='cursor-pointer text-gray-300'
                aria-label={tech.ariaLink}
              >
                <TechBadge {...tech} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class='my-10 flex items-center justify-center md:my-16'>
      <div class='w-9/12 text-white md:w-[740px]'>
        <h2 class='text-3xl font-bold'>Stuff I've worked on</h2>
        <p class='mt-4 text-left'>
          I've been lucky enough to help out with some cool open source projects. I contribute to <a
            href='https://docs.astro.build/'
            aria-label='Documentation for Astro'
            target='_blank'
            class='hover:bg-neon-green rounded-lg p-1 hover:text-gray-900'
            ><strong>Astro Docs</strong>
          </a>, <a
            href='https://starlight.astro.build/'
            target='_blank'
            aria-label='Documentation for Starlight'
            class='hover:bg-neon-green rounded-lg p-1 hover:text-gray-900'
            ><strong>Starlight</strong></a
          >, and <a
            href='https://github.com/tauri-apps/tauri-docs'
            target='_blank'
            aria-label='Documentation for Tauri'
            class='hover:bg-neon-green rounded-lg p-1 hover:text-gray-900'
            ><strong>Tauri Docs</strong></a
          > as a maintainer, which has been a blast. I also tinker with <a
            href='https://github.com/withstudiocms/studiocms'
            target='_blank'
            class='hover:bg-neon-green rounded-lg p-1 hover:text-gray-900'
            ><strong>StudioCMS</strong></a
          > a native CMS for Astro and <a
            href='https://bomb.sh/'
            target='_blank'
            class='hover:bg-neon-green rounded-lg p-1 hover:text-gray-900'
            ><strong>Bombshell</strong></a
          >. Working with folks from around the world on these projects has taught me a ton about writing good code and collaborating effectively.
        </p>
        <div
          class='mt-10 grid grid-cols-1 gap-y-5 md:grid-cols-2 md:gap-x-4 md:gap-y-8'
        >
          {repos.map((repo: PinnedRepos) => <ProjectCard {...repo} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
