---
import TechBadge from '@components/TechBadge.astro'
import ProjectCard from '@components/RepoCard.astro'
import Layout from '@layouts/Layout.astro'
import { technologies } from '@utils/data'

type TechBadgeProps = {
  name: string
  imgSrc: string
  altSrc: string
  link: string
  ariaLink: string
}

type PinnedRepos = {
  owner: string
  repo: string
  link: string
  description: string
  image: string
  language: string
  languageColor: string
  stars: number
  forks: number
}

const pinnedRepos = await fetch(
  'https://gh-pinned-repos-tsj7ta5xfhep.deno.dev/?username=dreyfus92',
)
const repos = await pinnedRepos.json()
---

<Layout title='Paul Valladares | Home'>
  <main>
    <div class='flex flex-col-reverse items-center justify-center md:flex-row'>
      <div class='w-9/12 text-white md:w-[450px]'>
        <h1 class='glitch mb-1 text-3xl font-bold tracking-tight md:text-5xl'>
          Paul Valladares
        </h1>
        <h2 class='glitch mt-2 text-lg'>Frontend Dev available for hire</h2>
        <h2 class='glitch text-lg'>
          prev
          <a
            href='https://www.hackapulco.com'
            target='_blank'
            class='rounded-lg p-1 hover:bg-neon-green hover:text-gray-900'
            >@Hackapulco</a
          >
        </h2>
        <p class='mt-4 text-left'>
          Welcome to my little corner of the web! I am a civil engineer
          graduated from National Autonomous University of Mexico (UNAM) who
          decided to break into tech in his late 20s. I am interested in <strong
            >web developement</strong
          >, <strong>UI/UX design</strong> and <strong>data analysis.</strong>
        </p>
      </div>
      <img
        id='pfp-1'
        class='mb-10 ml-0 h-[120px] w-[120px] rounded-full md:mb-0 md:ml-10 md:h-[240px] md:w-[240px]'
        src='https://avatars.githubusercontent.com/u/85648028?v=4'
        alt='Paul Valladares'
      />
    </div>
    <div class='my-10 flex items-center justify-center md:my-16'>
      <div class='w-9/12 text-white md:w-[740px]'>
        <h2 class='text-3xl font-bold'>Technologies</h2>
        <p class='mt-4 text-left'>
          I like playing around and learning new programming languages,
          frameworks and libraries. These are the technologies that I love
          working with:
        </p>
        <div
          class='mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8'
        >
          {
            technologies.map((tech: TechBadgeProps) => (
              <a
                href={tech.link}
                class='cursor-pointer text-gray-300'
                aria-label={tech.ariaLink}
              >
                <TechBadge {...tech} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class='my-10 flex items-center justify-center md:my-16'>
      <div class='w-9/12 text-white md:w-[740px]'>
        <h2 class='text-3xl font-bold'>Projects</h2>
        <p class='mt-4 text-left'>
          I've had the opportunity to work on a variety of development projects,
          and participating in Hacktoberfest last October really sparked my
          interest in contributing to open source. Since then, I've enjoyed
          contributing to open source projects like <a
            href='https://docs.astro.build/'
            aria-label='Documentation for Astro'
            target='_blank'
            class='rounded-lg p-1 hover:bg-neon-green hover:text-gray-900'
            ><strong>Astro Docs</strong>
          </a> and <a
            href='https://starlight.astro.build/'
            target='_blank'
            aria-label='Documentation for Starlight'
            class='rounded-lg p-1 hover:bg-neon-green hover:text-gray-900'
            ><strong>Starlight.</strong></a
          > My contributions to Astro Docs led to me becoming an official
          maintainer for the <a
            href='https://twitter.com/astrodotbuild'
            aria-label='Official X account of Astro'
            target='_blank'
            class='rounded-lg p-1 hover:bg-neon-green hover:text-gray-900'
            >@astrodotbuild</a
          > project, which has been an exciting responsibility. Working on these
          and other open source projects has allowed me to improve my skills and
          give back to the developer community.
        </p>
        <div
          class='mt-10 grid grid-cols-1 gap-y-5 md:grid-cols-2 md:gap-x-4 md:gap-y-8'
        >
          {repos.map((repo: PinnedRepos) => <ProjectCard {...repo} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
