---
import SocialsLayout from "../layouts/SocialsLayout.astro";
import { socials } from "../lib/data";
import { Icon } from "astro-icon";

type Socials = {
  name: string;
  url: string;
  imgSrc: string;
};
---

<SocialsLayout
  title="Paul Valladares | Socials"
  description="Links for social media of Paul Valladares"
>
  <img
    src="https://avatars.githubusercontent.com/u/85648028?v=4"
    class="mx-auto my-10 border-2 border-black border-solid rounded-full w-28"
  />
  <h2 class="px-2 mb-3 text-3xl text-center text-white">Paul Valladares</h2>
  <p class="px-2 mb-10 text-2xl font-bold text-center">
    Frontend Developer based in Mexico
  </p>
  <div class="flex flex-col items-center gap-6 md:gap-8 justify-center">
    {
      socials.map((opt: Socials) => {
        return (
          <a
            class="flex justify-center items-center rounded bg-[#87CB49] px-8 py-3  w-[350px] md:w-[450px] text-md text-center font-medium text-gray-800 transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:bg-[#87CB49]"
            href={opt.url}
          >
            <Icon name={opt.imgSrc} class="mr-2" />
            {opt.name}
          </a>
        );
      })
    }
  </div>
</SocialsLayout>
