---
import { Icon } from "astro-icon";
interface BlogCardProps {
  title: string;
  description: string;
  date: string;
  link: string;
  readingTime: {
    minutesRead: string;
  };
}

const { title, description, date, link, readingTime } =
  Astro.props as BlogCardProps;
---

<a
  href={link}
  rel="prefetch"
  class="flex flex-col gap-y-5 hover:no-underline p-4 mb-8 hover:bg-neutral-700 transition-colors rounded-xl"
>
  <h3 class="text-white text-xl md:text-2xl font-extrabold">{title}</h3>

  <p class="text-sm text-white md:text-base">{description}</p>

  <div class="flex items-center gap-x-4 text-neutral-200 text-xs md:text-sm">
    <div class="flex items-center gap-x-2">
      <Icon name="ic:baseline-calendar-month" class="text-neon-green" />
      <time datetime={date}>
        {
          new Date(date).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time>
    </div>
  </div>
</a>
