---
---

<div
  class="flex flex-col grow text-right text-sm p-4 border rounded border-zinc-700 hover:border-neon-green transition duration-500 ease-out"
>
  <h1>Paul Valladares</h1>
  <p>
    Don't use moment. It's deprecated. Use date-fns github.com/date-fns/date-fns
  </p>
</div>
