---
import SpotifyNowPlaying from "./SpotifyNowPlaying.astro";
---

<nav
  role="navigation"
  aria-label="navigation"
  id="top-nav"
  class="flex flex-col md:flex-row md:justify-between gap-4 items-center pt-8 pb-8 sm:pb-16 w-[50%] mx-auto"
>

  <ul class="flex justify-center items-center gap-4 px-3 py-1">
    <a
      href="/"
      class="relative font-medium text-[#87CB49] before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-[#87CB49] before:transition hover:before:scale-x-100"
      ><li>Home</li>
    </a>
    <a
      href="/blog"
      class="relative font-medium text-[#87CB49] before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-[#87CB49] before:transition hover:before:scale-x-100"
      ><li>Blog</li>
    </a>
  </ul>
  <SpotifyNowPlaying />
</nav>
