---
---

<nav
  role="navigation"
  aria-label="Main"
  id="top-nav"
  class="h-[64px] flex justify-center items-center"
>
  <ul class="flex justify-center gap-3">
    <a
      href="/"
      class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-x-100"
      ><li>Home</li>
    </a>
    <a
      href="/blog"
      class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-x-100"
      ><li>Blog</li>
    </a>
    <a
      href="https://www.linkedin.com/in/paul-valladares/"
      target="_blank"
      class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-x-100"
      ><li>LinkedIn</li>
    </a>
    <a
      href="https://github.com/dreyfus92"
      target="_blank"
      class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-x-100"
      ><li>GitHub</li>
    </a>
  </ul>
</nav>
