---
import { Icon } from 'astro-icon'
import { getCurrentTrack } from '../utils/spotify'

export const prerender = false

const nowPlayingTrack = await getCurrentTrack()
const data = await nowPlayingTrack.json()
---

<div
  id='spotify'
  class='group flex w-fit items-center justify-center rounded-lg px-3 py-1 text-[11px] font-medium hover:bg-neon-green'
>
  {
    data.isPlaying ? (
      <a
        href={data.url}
        target='_blank'
        rel='noreferrer noopener flex'
        class='flex items-center justify-around group-hover:text-gray-900'
      >
        <Icon
          name='mdi:spotify'
          class='text-neon-green group-hover:text-gray-900'
        />
        <p class='pl-2 group-hover:text-gray-900'>
          {data.title} - {data.artist}
        </p>
      </a>
    ) : (
      <a
        href='https://open.spotify.com/user/1276702099?si=2475d23fbc7f410f'
        target='_blank'
        rel='noreferrer noopener flex'
        class='flex items-center justify-around group-hover:text-gray-900'
      >
        <Icon name='mdi:spotify' />
        <p class='pl-2 group-hover:text-gray-900'>
          Not playing anything right now!
        </p>
      </a>
    )
  }
</div>
