---
import { Icon } from "astro-icon";
import { getCurrentTrack } from "../utils/spotify";

const nowPlayingTrack = await getCurrentTrack();
const data = await nowPlayingTrack.json();
---

<div
  id="spotify"
  class="group w-fit text-[11px] flex items-center justify-center font-medium rounded-lg hover:bg-neon-green px-3 py-1"
>
  {
    data.isPlaying ? (
      <a
        href={data.url}
        target="_blank"
        rel="noreferrer noopener flex"
        class="flex items-center justify-around group-hover:text-gray-900"
      >
        <Icon
          name="mdi:spotify"
          class="group-hover:text-gray-900 text-neon-green"
        />
        <p class="pl-2 group-hover:text-gray-900">
          {data.title} - {data.artist}
        </p>
      </a>
    ) : (
      <a
        href="https://open.spotify.com/user/1276702099?si=2475d23fbc7f410f"
        target="_blank"
        rel="noreferrer noopener flex"
        class="flex items-center justify-around group-hover:text-gray-900"
      >
        <Icon name="mdi:spotify" />
        <p class="pl-2 group-hover:text-gray-900">
          Not playing anything right now!
        </p>
      </a>
    )
  }
</div>
