---
import type { NowPlayingTrackResponse } from "../lib/now";
import { get } from "../lib/now";

const nowPlayingTrack = await get();
const result = (await nowPlayingTrack.json()) as NowPlayingTrackResponse;
console.log(result);
---

<div>
  {
    result.isPlaying ? (
      <a href={result.url} target="_blank" rel="noreferrer noopener">
        <p class="text-lg font-semibold">
          {result.title}-{result.artist}
        </p>
      </a>
    ) : (
      <p class="font-medium text-[#87CB49]">Not playing anything right now!</p>
    )
  }
</div>
