---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

export interface Props {
  content: {
    title: string;
    description: string;
  };
}

const {
  content: { title, description },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Navbar />
    <main class="text-white flex flex-col items-center">
      <div class="w-[750px]">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
