---
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
import HeadTags from '@components/HeadTags.astro'
import { Head } from 'astro-capo'

export interface Props {
  title: string
  description?: string
}

const { title, description = 'Personal website of Paul Valladares' } =
  Astro.props
---

<html lang='en'>
  <Head>
    <HeadTags title={title} description={description} />
  </Head>
  <Navbar />
  <body>
    <slot />
    <Footer />
  </body>
</html>
