---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <Navbar />
  <body>
    <slot />
  </body>
  <Footer />
</html>
