---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";

export interface SocialsLayoutProps {
  title: string;
  description: string;
}

const { title, description } = Astro.props as SocialsLayoutProps;
---
<script>
  import Swup from "swup";
  const swup = new Swup();
</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <Navbar />
  <body id="swup" class="w-full">
    <div class="mb-16">
      <slot />
    </div>
  </body>
</html>
